<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Home')">
</head>
<body>
    <header th:replace="layout :: nav">
    </header>
    <main class="main_wrapper" id="main_wrapper_on_media">
        <header class="content-element thumbnail">
            <h1>
                Bionische Roboterhand - Diplomarbeit
            </h1>
        </header>
        <div class="developer">
            <section class="content-element dominik">
                <div class="name">
                    <h1>Dominik Lovetinsky</h1>
                </div>
                <div class="innerWrapper">
                    <ul class="u_dominik skills">
                        <li>Java</li>
                        <li>Python</li>
                        <li>Web-Development</li>
                        <li>Mathematik</li>
                        <li>Elektronik</li>
                        <li><a class="linkToDevs" th:href="@{/devInformation}">Mehr erfahren</a></li>
                    </ul>
                </div>
            </section>
            <section class="content-element philipp">
                <div class="name">
                    <h1>Philipp Maschayechi</h1>
                </div>
                <div class="innerWrapper">
                    <ul class="u_philipp skills">
                        <li>Blender</li>
                        <li>C#-Development</li>
                        <li>Raumfahrt</li>
                        <li>Unity</li>
                        <li>Physik</li>
                        <li><a class="linkToDevs" th:href="@{/devInformation}">Mehr erfahren</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <footer>

    </footer>
<!--  scripts  -->
    <script rel="script" th:src="@{/scripts/onscroll.js}"></script>
</body>
</html>