<!DOCTYPE html>
<html lang="en">
<head th:fragment="head(page_title)">
    <title th:text="'Binobo | ' + ${page_title}"></title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/styles/navbar_style.css}"/>
    <link rel="stylesheet" th:href="@{/styles/mainStyle.css}"/>
    <link rel="icon" th:href="@{/pictures/icon_v2_or.svg}" type="image/icon type"/>
</head>
<body>
<header th:fragment="nav" class="main_header" id="mainHeader">
    <div>
        <img th:src="@{/pictures/icon_v2_or.svg}" alt="picture" class="icon"/>
        <img th:src="@{/pictures/Logo_v2.svg}" alt="logo" class="logo"/>
    </div>
    <nav class="innerNav">
        <ul class="navigation">
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/project}">Projekt</a></li>
            <li><a th:href="@{/simulator3D}">3D - Simulator</a></li>
            <li><a th:href="@{/developer}">Entwickler</a></li>
            <li><a th:href="@{/sponsoring}">Sponsoren</a></li>
            <li><a th:href="@{/blog}">Blog</a></li>
            <li id="on_media_icon"><img th:src="@{/pictures/on_media_navbar_icon.svg}"/></li>
        </ul>
        <a class="user" th:href="@{/blog}">
            <img th:src="@{/pictures/padlock.svg}" alt="picture" class="user_icon"/>
        </a>
    </nav>
</header>

</body>
</html>