<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Sponsoren')">
</head>
<body>
<header th:replace="layout :: nav">
</header>
<main class="main_wrapper" id="main_wrapper_on_media">

    <div class="developer">
        <section class="content-element dominik">

        </section>
        <section class="content-element philipp">

        </section>
    </div>
</main>
<footer>

</footer>
<!--  scripts  -->
<script rel="script" th:src="@{/scripts/onscroll.js}"></script>
</body>
</html>