body {
    background-size: cover;
    background: url("../pictures/blog_bg_4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flex {
    display: flex;
}

.flex .hr hr {
    height: 100%;
    margin-right: 5px;
}

hr {
    border-color: #ff7800;
}

.error {
    border-color: #ff3f22;
}

.heading {
    width: 70%;
}

.details_wrapper {
    width: 30%;
}

div.new_entry, .entry_wrapper {
    display: flex;
    background-color: #222;
    justify-content:center;
    border-radius: 45px;
    border: 3px solid #ae5507;
    transition: all 0.3s ease 0s;
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 20px;
}

div.new_entry:hover, .entry_wrapper:hover {
    border-color: #ff7800;
}

div.svg_wrapper {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin-right: 40px;
}

.new_entry div.svg_wrapper svg {
    transition: all 0.3s ease 0s;
    width: 100%;
}

.new_entry div.svg_wrapper svg:hover {
    transform: scale(1.25) rotate(90deg);
}

.title_add h2, .entry_wrapper .heading h3{
    font-size: 30px;
    padding: 5px 5px 5px 20px;
    color: #ff7800;
    font-family: "JetBrains Mono", monospace;
}

.main_wrapper a {
    text-decoration: none;
}

.entry_wrapper {
    justify-content: space-between;
}

.entry_wrapper .heading {
    padding: 13px;
}

.entry_wrapper div.details_wrapper {
    padding: 15px;
}

.entry_wrapper div.details_wrapper .username p,
.entry_wrapper div.details_wrapper .date_time em {
    font-family: "JetBrains mono", monospace;
}

.category_select_wrapper, .category_select {
    width: 100%;
}

.category_select {
    padding: 10px 10px 10px 50px;
    border-color: #5a2c03;
    border-radius: 30px;
    background-color: #222;
    border-width: 0 0 3px 0;
    transition: all .3s ease;
    font-size: 24px;
    outline: none;
}

.category_select:hover {
    border-color: #ff7800;
}

