.flex {
    display: flex;
}

.flex .hr hr {
    height: 100%;
    margin-right: 5px;
}

.hr hr, hr {
    border-color: #ff7800;
}

.heading {
    display: flex;
    align-items: center;
    width: 70%;
}

.details_wrapper {
    width: 30%;
}

.new_entry, .entry_wrapper {
    display: flex;
    justify-content:center;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    padding-right: 80px;
    padding-left: 80px;
    margin-bottom: 25px;
    height: 100px;
    background-color: var(--bg-content2);
}

.entry_wrapper:hover, .new_entry:hover {
    box-shadow: -10px 10px #00b2b2;
    transform: translate(5px, -5px);
}

.new_entry {
    border-radius: 30px 30px 5px 5px;
}

div.new_entry:hover, .entry_wrapper:hover {
    border-color: #ff7800;
}

.svg_wrapper {
    width: 60px;
    height: 60px;

    margin: auto 30px;
}

.new_entry .svg_wrapper svg {
    transition: all 0.3s ease 0s;
    width: 100%;
}

.new_entry .svg_wrapper svg:hover {
    transform: scale(1.25) rotate(90deg);
}

.title_add h2, .entry_wrapper .heading h3{
    font-size: 30px;
    padding: 5px 5px 5px 20px;

    color: #ff7800;
    font-family: "JetBrains Mono", monospace;
}

.main_wrapper a {
    text-decoration: none;
}

.entry_wrapper .heading {
    padding: 13px;
}

.entry_wrapper div.details_wrapper {
    padding: 25px;
}

.entry_wrapper div.details_wrapper .username p,
.entry_wrapper div.details_wrapper .date_time em {
    font-family: "JetBrains mono", monospace;
    font-size: 20px;
    color: var(--color-text);
    padding: 0;
    margin: 0;
}

.details_wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details_wrapper div:not(.hr) hr {
    margin: 10px 0;
    width: 100%;
}

.details_wrapper div:not(.hr) {
    margin-left: 10px;
}

html[data-theme='dark'] .main_content {
    background: url('../pictures/icon_v2_gr.svg') center, linear-gradient(to left top, #272727 1%, #333);
    background-size: 100% 100%;
}

html[data-theme='light'] .main_content {
    background: url('../pictures/icon_v2_wh.svg') center, linear-gradient(to right bottom, #ccc 20%, #eee);
    background-size: 100% 100%;
}
