body {
    overflow: hidden;
}

.need_help_btn {
    position: absolute;
    right: 50px;
    cursor: pointer;
}

.need_help_btn svg {
    width: 60px;
    transform: scale(.95);
}

.need_help_popup {
    background-color: var(--bg-panel);
    border-radius: 30px;
    border: 0 solid #008000;
    border-left-width: 5px;
    height: 220px;
    width: 450px;
    position: absolute;
    left: 100%;
    padding: 10px 10px 20px;
    z-index: 10000;
}

.need_help_popup .head {
    display: flex;
    justify-content: space-between;
    height: 30%;
}

.need_help_popup .head a svg {
    height: 60px;
}

.close_help_popup {
    transform: scale(0.5);
    cursor: pointer;
}

.need_help_popup .head h3 {
    color: var(--color-text);
    font-weight: 100;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.need_help_popup .body {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    height: 60%;
    margin-top: 20px;
}

.need_help_popup .body .md svg {
    width: 120px;
}

.need_help_popup .body .latex svg {
    width: 140px;
}

.need_help_popup .body .img_upload svg {
    width: 100px;
}

.need_help_popup .body div p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    color: #aaa;
}

.content_wrapper {
    width: 70%;
    margin: auto;
}

.content_wrapper .post {
    display: flex;
}

.mark_bookmark {
    width: 50px;
    margin-right: 3%;
    margin-top: 10px;
    position: sticky;
    top: 20px;
}

.mark_bookmark .mark {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mark_bookmark .bookmark {
    transform: scale(0.7);
    margin-top: 15px;
}

.post_info_wrapper {
    padding-left: 1px;
}

.post .post_content_wrapper {
    width: 100%;
}

.post_content_wrapper h1 {
    margin: 0 0 10px;
    color: var(--color-text);
    font-size: 40px;
}

.mark_bookmark .mark span {
    font-size: 30px;
    color: #ff7800;
}

.scrollable_wrapper {
    position: sticky;
    top: 0;
}

.name_data {
    display: flex;
    justify-content: space-between;
}

.name_data * {
    color: var(--color-text);
    font-size: 15px;
}

.delete {
    color: #FF5C5C;
    margin-right: 20px;
}

.edit {
    color: #5C94FF;
}

.delete_edit .delete, .delete_edit .edit {
    text-decoration: underline;
}

.new_comment_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.comment_editor_wrapper {
    width: 100%;
}

#submit, .category_select, .post_heading_input {
    font-size: 20px;
    border-radius: 30px;
    width: 210px;
    border: 1px solid #ff7800;
    border-bottom-width: 3px;
    background-color: var(--bg-panel);
    color: var(--color-text);
    transition: all .5s ease;
}

#submit:hover, .category_select:hover, .post_heading_input:hover {
    border-color: #008000;
    cursor: pointer;
}

.post_heading_input {
    width: 100%;
    margin: 10px 0;
    border-radius: 0 0 0 0;
    border-width: 0 0 3px 0;
    font-size: 40px;
    outline: none;
}

.post_heading_input:hover {
    cursor: text;
}

.category_select, .post_heading_input {
    text-align: center;
}

.category_select_wrapper {
    margin-bottom: 10px;
}

.submit_btn, .category_select_wrapper {
    display: flex;
    justify-content: center;
}

/*
===================== Blog - Form styling =====================
*/

.content_wrapper, .new_post_entry {
    height: 100%;
}

.post_editor_wrapper {
    height: 100%;
}

.post_editor_wrapper form {
    height: 80%;
}

.category_select {
    padding: 1px;
}
