.main_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dominik_wrapper, .philipp_wrapper {
    transition: .3s all ease;
    width: 48%;
    height: 100%;
    border-radius: 30px;
    padding: 15px;
}

.dominik_wrapper {
    background-image:linear-gradient(#222222aa, #22222277),   url(../pictures/code_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.philipp_wrapper {
    background-image:linear-gradient(#222222aa, #22222277),  url(../pictures/rocket.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.dominik_wrapper:hover, .philipp_wrapper:hover {
    transform: scale(1.02);
}

.heading_wrapper h1 {
    text-align: center;
    color: white;
}

.about {
    margin-left: 20px;
    margin-top: 10%;
}

.about p {
    width: 60%;
    text-align: left;
    font-weight: bold;
    color: #ff7800;;
}

.about a {
    color: #008000;
}
