.flash {
    padding: 10px;
    border-radius: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    border: solid #222 3px;
    font-size: 30px;
}

.flash .strong {
    text-align:center;
    color: #222;
}

.flash_success, .flash_success .strong {
    background-color: #29AF7F;
}

.flash_info, .flash_info .strong {
    background-color: #453781;
}

.flash_error, .flash_error .strong {
    background-color: #983111;
}

.flash_warn, .flash_warn .strong {
    background-color: #B8DE29;
}

.field_error {
    color: #481567;
    font-size: 20px;
    text-align: center;
}
