* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

svg * {
    transition: .2s all ease;
}

html[data-theme='dark'] {
    --bg: black;
    --bg-panel: #222;
    --bg-content: #343434;
    --bg-content2: #151515;
    --bg-panel2: #444;
    --color-text: white;
    --hover-color: #ff7800;
}

html[data-theme='light'] {
    --bg: #888;
    --bg-panel: white;
    --bg-content: #ccc;
    --bg-content2: white;
    --bg-panel2: #ddd;
    --color-text: #222;
    --hover-color: #ff7800;
}

html, body {
    background-color: var(--bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
}

.main_content::-webkit-scrollbar, .side_nav::-webkit-scrollbar {
    display: none;
}

.main_content, .side_nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main_content {
    overflow:scroll;
}

.nav_element a svg, .nav_element form svg {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
}

.nav_element a svg *, .nav_element form svg * {
    fill: var(--color-text);
    outline: var(--color-text);
    stroke:var(--color-text);
}

.nav_element * {
    color: var(--color-text);
    margin-top: 0;
}

.nav_element {
    margin-bottom: 30px;
}

.nav_element:hover a svg *, .nav_element:hover form svg * {
    fill: var(--hover-color);
    stroke: var(--hover-color);
}

.nav_element a, .nav_element form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nav_element a p, .nav_element form p {
    margin: 0;
}

.side_nav {
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
    overflow-y: scroll;
    overflow-x: visible;
}

#switch img {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

#switch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_wrapper {
    display: flex;
    height: calc(100% - 20px);
    margin: 10px;
    border-radius: 30px;
    background-color: var(--bg-panel);
    padding: 15px;
}

.main_content {
    border-radius: 30px;
    background-color: var(--bg-content);
    padding: 15px;
    width: 100%;
}

#selected svg * {
    fill: var(--hover-color);
    stroke: var(--hover-color);
}

#selected p {
    color: var(--hover-color);
}
