.form_wrapper {
    transition: all 0.3s ease 0s;
    background-size: cover;
    background: linear-gradient(to left, rgba(0, 0, 170, 0.6), rgba(0, 160, 100, 0.6)), url("../pictures/Hexadings2.png") no-repeat center;
    border-radius: 30px;
    width: 100%;
    padding: 30px 5%;
}

body {
    background-color: #aa780050;
    background-image: linear-gradient(to left, rgba(0, 0, 170, 0.4), rgba(0, 160, 130, 0.4));
    padding-bottom: 1px;
}

.form_visible {
    width: 85%;
    border-radius: 35px;;
    background-color: #22222290;
    padding: 0 10% 1%;
    margin: auto;
}

form {
    background-color: transparent;
}

input {
    transition: all 0.3s ease 0s;
    color: #ff7800;
    background-color: #222222;
    border-width: 0 0 3px 0;
    border-color: #ae5507;
    border-radius: 25px;;
    padding-left: 20px;
    font-size : 23px;
    height: 50px;
    width: 100%;
}

input:hover {
    border-color: #ff7800;
}

.label_inner {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    color: #ff7800;
    transition: all 0.3s ease 0s;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.loginHeader_Wrapper {
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.first_name, .last_name, .verify_btn, .cancel_btn {
    width: 48%;
}

.loginHeader {
    color: #ff7800;
    font-size: 100px;
    padding-right: 10px;
}

.loginHeader:hover {
    color: white;
}

hr {
    border: solid 2px #222222;
    border-radius: 2px;
}

.btns {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
}

input[type="submit"], input[type="button"] {
    padding: 0;
}

/* Sign in/up toggle btn */

.onoffswitch {
    position: relative; width: 250px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FF7800; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 90px; padding: 0; line-height: 90px;
    font-size: 80px; color: white; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "IN";
    padding-left: 27px;
    background-color: #222222; color: #FF7800;
}
.onoffswitch-inner:after {
    content: "UP";
    padding-right: 27px;
    background-color: #FF7800; color: #222222;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 100px; margin: -5px;
    background: #ff7800;
    position: absolute; top: 0; bottom: 0;
    right: 159px;
    border: 10px solid #222; border-radius: 50px;
    transition: all 0.2s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
    background-color: #222;
    border-color: #ff7800;
}

/* on media */

@media screen and (max-width: 1260px) {

    div.on_media_flex {
        display: block;
    }

    div.first_name, div.last_name {
        width: 100%;
    }

    hr {
        display: none;
    }

    div.form_visible {
        margin: 0;
        width: 100%;
    }

    div.form_wrapper {
        background-size: cover;
    }

    label.label_inner {
        font-size: 60px;
    }

    input {
        font-size: 40px;
        height: 70px;
        border-radius: 35px;
    }

}
