.thumbnail {
    width: 100%;
    display: flex;
    border-radius: 30px;
    height: 300px;
    background-image: url("../pictures/main_tn.jpg");
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-position: bottom;
}

.thumbnail h1 {
    color: white;
    font-size: 64px;
    font-weight: 100;
    text-align: center;
}

.flash {
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.flash .strong {
    text-align:center;
    color: #222;
}

.flash_success, .flash_success .strong {
    background-color: #29AF7F;
}

.flash_info, .flash_info .strong {
    background-color: #453781;
    color: white;
}

.flash_error, .flash_error .strong {
    background-color: #983111;
}

.flash_warn, .flash_warn .strong {
    background-color: #B8DE29;
}

.field_error {
    color: #da3b09;
    font-size: 15px;
    text-align: center;
}

.contribute_docker {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.contribute {
    background-image:linear-gradient(#22222288, #22222244), url(../pictures/code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #222222;
    margin-right: 7.5px;
}

.docker {
    background-image:linear-gradient(#22222288, #22222244),  url(../pictures/container.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 7.5px;
}

.docker:hover, .contribute:hover, .join_us:hover {
    box-shadow: -10px 10px #00b2b2;
    transform: translate(5px, -5px);
}

.contribute, .docker, .join_us {
    transition: .4s all ease;
}

.contribute, .docker {
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}

.contribute svg, .docker svg, .join_us svg {
    margin: auto;
    max-width: 70%;
}

.join_us svg {
    transform: scale(0.7);
}

.contribute h2, .docker h2, .join_us h2 {
    color: white;
    font-size: 32px;
    text-align: center;
}

.join_us {
    background-image:linear-gradient(#22222288, #22222244),  url(../pictures/matrix.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;

    margin-top: 15px;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
}
