@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;800&display=swap');

body {
    overflow-x: hidden;
}

svg {
    overflow: unset;
}

.form_action_heading, .form_action_heading:hover {
    color: #ff7800;
}

textarea#heading {
    text-align: center;
    font-weight: 400;
}

textarea {
    outline: none;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;

    width: 100%;
    color: #ff7800;
    font-size: 40px;
    background-color: #222;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    border-width: 0 0 3px 0;
    border-color: #ae5507;
    padding-left: 20px;
    resize: none;
}

textarea:hover {
    border-color: #ff7800;
}

li img {
    cursor: pointer;
}

.blog_form_wrapper {
    /*transition: margin-left .5s;*/
    transition: margin .5s, padding .5s;
    width:100%;
    padding: 30px 10%;
    /*     padding-left:300px;
        padding-top: 30px;
        padding-right: 30px; */

    /*     border-radius: 30px; */
    background-size: cover;
    background: url("../pictures/abstract_bg.png") fixed;
    overflow: hidden;
}

label {
    font-size: 40px;
    padding-left: 3%;
    color: #ff7800;
}

form, label {
    background: transparent;
}

#content {
    padding: 4%;
    font-size: 20px;
    color: #ccc;
    border-width: 3px 0 3px 0;

    border-radius: 0 0 30px 30px;
}

code, span {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
}

span {
    background-color: transparent;
}

code, pre {
    border-radius: 30px;
}

div.rendered_Content {
    border-radius: 30px;
    background-color: #333;
    padding: 20px;
}

#rendered_content, strong, em, del, s {
    font-family: 'JetBrains Mono', serif;
    background-color: #333;
    font-size: 20px;
}

#rendered_content, em, del, s {
    font-weight: 100;

    margin-top: 25px;
}

strong s {
    font-weight: bold;
}

#rendered_content p img {
    width: 100%;
    border-radius:20px;
}

div.blog_form_wrapper_inner {
    width: 100%;
    background-color: #222222b0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 35px;

    border-radius: 30px;
    transition: width .5s;
}

.blog-formatting-functions{
    display: flex;
    list-style: none;
    padding: 10px;
    background-color: transparent;
    /*     width: 50%; */
}

.blog-formatting-functions li{
    padding-left: 20px;
    opacity: 0.5;
    transition: all 0.3s ease 0s;
}

.blog-formatting-functions li:hover{
    padding-left: 20px;
    opacity: 1;
}

#blank1, #blank2, #blank3, #blank4, #blank5 {
    opacity: 0;
    width: 10px;
}

div.btn-nav {
    background-color: #222222;
    border-radius: 30px 30px 0 0;
}

#mainHeader {
    z-index: 99999999;
    padding-left: 20px;
    padding-right: 20px;
}

#rendered_content ul, #rendered_content ol,
#rendered_content ul li, #rendered_content ol li{
    background-color: #333333;
    color: #fff8dc;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    margin-left: 20px;
}

#buttons{
    width: 100%;
}

#buttons div {
    width: 49%;
}

.flex {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

input, .cancel-btn {
    width: 100%;
    font-size: 25px;
    border-radius: 30px;
    border-width: 0 0 3px 0;
    border-color: #ae5507;
    background-color: #222;
    transition: all 0.3s ease 0s;
    color: #ff7200;
}

input:hover, #buttons div .cancel-btn:hover {
    border-color: #ff7200;
    color: #ff7200;
    text-decoration: none;
}

p {
    background-color: #333333;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
}

#rendered_content p a, #rendered_content a {
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    text-decoration: underline;
    background-color: transparent;
}

h2, h3, h4, h5, h6 {
    background-color: transparent;
    font-family: inherit;
}

#post-heading, #post-heading:hover {
    font-family: inherit;
    color: white;
}

#formula img {
    width: 25px;
    padding-top:5px;
}

.dropdown-content {
    transform: translateX(-160px);
}

/* Table-styling */

table {
    margin-top: 20px;
    width: 100%;
}

table * {
    font-family: 'JetBrains mono', monospace;
}

th, td {
    padding: 10px;
}

thead {
    background-color: #444;
}

tbody tr:nth-child(odd) {
    background-color: #666;
}

tbody tr:nth-child(even) {
    background-color: #888;
}

tbody tr *, thead tr * {
    transition: all 0.3s ease 0s;
    background-color: transparent
}

td:hover {
    background-color: #445;
}

/* tooltip test */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    transform: translateX(10px);
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Create toggleable sidebar */

.sidebar {
    margin-top: 96px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /*     padding-top: 60px; */
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ff7800;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Got a question? */

#question {
    position: absolute;
    width: 60px;
    transition: all .3s ease;
}

#question * {
    transition: all .3s ease;
    cursor: pointer;
}

#question:hover circle {
    fill: white;
}

#question:hover:hover {
    transform: scale(1.2);
}
