@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;800&display=swap');

body {
    overflow-x: hidden;
}

svg {
    overflow: unset;
}

.form_action_heading, .form_action_heading:hover {
    color: #ff7800;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}

#mainHeader {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#heading {
    text-align: center;
    font-weight: 400;
}
/*new*/
.textarea_custom {
    outline: none;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;

    width: 100%;
    color: #ff7800;
    font-size: 40px;
    background-color: #222;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    border-width: 0 0 3px 0;
    border-color: #ae5507;
    padding-left: 20px;
    resize: none;
}
/*new*/
.textarea_custom:hover {
    border-color: #ff7800;
}

/*li img {*/
/*    cursor: pointer;*/
/*}*/

.blog_form_wrapper {
    /*transition: margin-left .5s;*/
    transition: margin .5s, padding .5s;
    width:100%;
    height:100%;
    padding: 30px 10%;
    /*     padding-left:300px;
        padding-top: 30px;
        padding-right: 30px; */

    /*     border-radius: 30px; */
    background-size: cover;
    background: url("../pictures/abstract_bg.png") fixed;
    overflow: hidden;
}
/*new*/
.label_custom {
    font-size: 40px;
    padding-left: 3%;
    color: #ff7800;
}
/*new*/
.form_transparent_bg, .label_custom {
    background: transparent;
}

div.blog_form_wrapper_inner {
    width: 100%;
    height: 100%;
    background-color: #222222b0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 35px;

    border-radius: 30px;
    transition: width .5s;
}

.form_100per_height {
    height: 100%;
}

#buttons{
    width: 100%;
}

#buttons div {
    width: 49%;
}

.flex {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
/*new*/
.input_custom, .cancel-btn {
    width: 100%;
    font-size: 25px;
    border-radius: 30px;
    border-width: 0 0 3px 0;
    border-color: #ae5507;
    background-color: #222;
    transition: all 0.3s ease 0s;
    color: #ff7200;
}
/*new*/
.input_custom:hover, #buttons div .cancel-btn:hover {
    border-color: #ff7200;
    color: #ff7200;
    text-decoration: none;
}

#rendered_content p a, #rendered_content a {
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    text-decoration: underline;
    background-color: transparent;
}

#post-heading, #post-heading:hover {
    font-family: inherit;
    color: white;
}

.dropdown-content {
    transform: translateX(-160px);
}

/* tooltip test */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    transform: translateX(10px);
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Create toggleable sidebar */

.sidebar {
    margin-top: 96px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /*     padding-top: 60px; */
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px!important;
    color: #ff7800;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1!important;
    text-decoration: underline;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Got a question? */

#question {
    position: absolute;
    width: 60px;
    transition: all .3s ease;
}

#question * {
    transition: all .3s ease;
    cursor: pointer;
}

#question:hover circle {
    fill: white;
}

#question:hover:hover {
    transform: scale(1.2);
}

/* post-preview */

.main_wrapper_blog {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;

    background: url("../pictures/blog_preview_bg.jpg") no-repeat center fixed;
    background-size: auto 100%;
}

.rendered_comments {
    background: linear-gradient(to left, #1a1a17f0, #37214af0);
}

.rendered_post, .rendered_comments {
    width: 50%;
    padding: 15px;
}

.rendered_post {
    height: calc(100vh - 96px);
    position: sticky;
    top: 96px;
    background: linear-gradient(to left, #293823f0, #1a1a17f0);

}

.mark_inc_dec_wrapper {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.post_title {
    padding-left: 10px;
}

.mark_inc_dec_wrapper *, .post_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

.post_title_wrapper {
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.mark_inc_dec {
    border-width: 0;
}

.mark_inc_dec_wrapper form button svg * {
    transition: all .3s ease;
}

.mark_inc_dec_wrapper form button svg {
    height: auto;
    width: 40px;
}

.mark_inc_dec_wrapper form button svg:hover * {
    fill: #ff7800;
    stroke: #ff7800;
}

.vertical_hr {
    height: 60px;
    border-style: solid;
    border-color: #ff7800;
}


.edit_post, .delete_post {
    position: absolute;
    z-index: 99999;
    background-color: #422849;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-10px, -60px);
    transition: all .3s ease;
}

.delete_post {
    margin-left: 100%;
    transform: translate(-80px, -60px);
}

.edit_post:hover, .delete_post:hover {
    background-color: #ff7800;
    cursor: pointer;
}
